<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="portfolio" style="background-color:#f39c12">
      <div class="container" >
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"> Members </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ range $groupname := (shuffle .Site.Params.groups) }}
              <div class="row flexbox flexbox-center" style="margin-below:30px">
                <h3 class="section-heading"> {{ $groupname }}-Group </h3>
              </div>
              <div class="row flexbox flexbox-center">
                {{ range $i, $member := $.Site.Sections.member }}
                  {{ if (in $member.Page.Params.groups $groupname) }}
                    {{ $data := (slice $member.Page $.Site.BaseURL) }}
                    {{ partial "member.html" $data }}
                  {{ end }}
                {{ end }}
              </div>
            {{ end }}
            <div class="row flexbox flexbox-center">
              <h3 class="section-heading"> Project Administration </h3>
            </div>
            <div class="row flexbox flexbox-center">
              {{ range $i, $member := $.Site.Sections.member }}
                {{ if (in $member.Page.Params.roles "Project Coordinator")}}
                  {{ $data := (slice $member.Page $.Site.BaseURL) }}
                  {{ partial "member.html" $data }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>


    {{ partial "js.html" . }}
  </body>
</html>
