<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <div class="portfolio-modal fade in" id="portfolioModal_{{ .Title }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                {{ $name := .Params.name}}
                {{ $icons := .Site.Params.icons}}
                <h2>{{ .Params.name | markdownify }}</h2>
                <h6 class="item-intro text-muted">{{ delimit .Params.roles ", " }}</h6>
                <img class="img-responsive img-centered img-circle" src="{{ .Site.BaseURL }}img/member/{{ .Params.img }}" alt="">
                <p>{{ .Content | markdownify }}</p>
                <ul class="list-inline social-buttons">
                  {{ range $k, $v := .Params.social }}
                    {{ if ne $v "" }}
                    {{ $i := index $icons $k | default "" | printf "%+v" }}
                      <li><a href="{{ $v }}" target="_blank"><i class="{{$i}}"></i></a></li>
                    {{ end }}
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container" id="publications">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h4 class="section-heading">{{ with .Site.Params.publications.title }}{{ . }}{{ end }} contributed to in the context of this project</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <ul class="timeline">
                {{ range $i,$e := .Site.Sections.publication }}
                  {{ $e := $e.Page }}
                  {{ if in $e.Params.authors $name }}
                    <li class="timeline-inverted">
                     <div class="timeline-image">
                       <img class="img-circle img-responsive" src="{{ $.Site.BaseURL }}/img/publication/{{ $e.Params.img }}" alt="">
                     </div>
                     <div class="timeline-panel">
                       <div class="timeline-heading">
                         <h6 class="subheading">{{ dateFormat "Monday, Jan 2, 2006" $e.Date }}</h6>
                         <h5 class="subheading">{{ $e.Params.journal }}</h5>
                         <h4>{{ $e.Title }}</h4>
                         <h5 class="subheading">
                           {{ delimit $e.Params.authors ", " }}
                         </h5>
                         <ul class="list-inline social-buttons">
                             <li><a href="https://dx.doi.org/{{ $e.Params.doi }}" target="_blank" title="Visit publisher website"><i class="ai ai-doi"></i></a></li>
                             <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ $e.Params.doi }}" target="_blank" title="Search article in pubmed"><i class="ai ai-pubmed"></i></a></li>
                             {{ if ne $e.Params.github "" }}
                               <li><a href="{{ $e.Params.github }}" target="_blank" title="View Code Resource on Github"><i class="fa fa-github"></i></a></li>
                             {{ end }}
                         </ul>
                       </div>
                     </div>
                    </li>
                   {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "js.html" . }}
  </body>
</html>
