{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
{{ $publication := (index $ 0) }}
{{ $url := (index $ 1) }}
{{ $abstract := (index $ 2) }}
<li class="timeline-inverted">

  <div class="timeline-image">
      <img class="img-circle img-responsive" src="{{ $url }}/img/publication/{{ $publication.Params.img }}" alt="">
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h6 class="subheading">{{ dateFormat "Monday, Jan 2, 2006" $publication.Date }}</h6>
      <h5 class="subheading">{{ $publication.Params.journal }}</h5>
      <a href="{{ $publication.URL | safeURL }}"><h4>{{ $publication.Title }}</h4></a>
      <h5 class="subheading">
        {{ delimit $publication.Params.authors ", " }}
      </h5>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div>
            <div class="collapsible-header">
              <i class="ai ai-doi"></i>
              <a href="https://dx.doi.org/{{ $publication.Params.doi }}" target="_blank" title="Visit publisher website">https://dx.doi.org/{{ $publication.Params.doi }}</a></div>
          </div>
        </li>
        <!-- <li>
          <div>
            <div class="collapsible-header">
              <i class="ai ai-pubmed"></i>
              <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ $publication.Params.doi }}" target="_blank" title="Search article in pubmed">View on pubmed</a>
            </div>
          </div>
        </li> -->
        {{ if ne $publication.Params.github "" }}
          <li>
            <div>
              <div class="collapsible-header">
                <i class="fa fa-github"></i>
                <a href="{{ $publication.Params.github }}" target="_blank" title="View Code Resource on Github">{{ $publication.Params.github }}</a>
              </div>
            </div>
          </li>
        {{ end }}
        {{ if ne $publication.Params.vis "" }}
          <li>
            <div class="collapsible-header">
              <i class="fa fa-area-chart"></i>
              <a href="{{ $publication.Params.vis }}" target="_blank" title="Visualisation Resource">View Datavisualisation</a>
            </div>
          </li>
        {{ end }}
        <li>
          <div class="collapsible-header"><i class="fa fa-file-text"></i>Abstract</div>
          <div class="collapsible-body"><span>{{ $publication.Params.abstract | markdownify }}</span></div>
        </li>
      </ul>

    </div>
  </div>
</li>
