{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
{{ $publication := (index $ 0) }}
{{ $url := (index $ 1) }}
{{ $abstract := (index $ 2) }}
<li class="timeline-inverted">

  <div class="timeline-image">
      <img class="img-circle img-responsive" src="{{ $url }}/img/publication/{{ $publication.Params.img }}" alt="">
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h6 class="subheading">{{ dateFormat "Monday, Jan 2, 2006" $publication.Date }}</h6>
      <h5 class="subheading">{{ $publication.Params.journal }}</h5>
      <a href="{{ $publication.URL | safeURL }}"><h4>{{ $publication.Title }}</h4></a>
      <h5 class="subheading">
        {{ delimit $publication.Params.authors ", " }}
      </h5>
      <ul class="list-inline social-buttons">
          <li><a href="https://dx.doi.org/{{ $publication.Params.doi }}" target="_blank" title="Visit publisher website"><i class="ai ai-doi"></i></a></li>
          <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ $publication.Params.doi }}" target="_blank" title="Search article in pubmed"><i class="ai ai-pubmed"></i></a></li>
          {{ if ne $publication.Params.github "" }}
            <li><a href="{{ $publication.Params.github }}" target="_blank" title="View Code Resource on Github"><i class="fa fa-github"></i></a></li>
          {{ end }}
      </ul>
      {{ if eq $abstract "with_abstract" }}
        <p class="abstract">
          {{ $publication.Params.abstract | markdownify }}
        </p>
      {{ end }}
    </div>
  </div>
</li>
