<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}

    <section id="posts">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row" style="margin-bottom:75px;">
              <div class="text-center">
                <h4>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h4>
                <h2>{{ .Title }}</h2>
                <p>
                  {{ .Content | markdownify }}
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }} -->

    {{ partial "js.html" . }}
  </body>
</html>
